.social{
    background-color:transparent;
    position: absolute;
    padding: 5px;
    top: 95%;
    left:50%;
    transform: translate(-50%, -90%);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 60%;
    border-top: 1px solid $color-text;
    border-bottom: 1px solid $color-text;
    .copyright{
        p{
            color: $color-text;
        }
    }
    .icon-list{
        width: 30%;
        display: flex;
        justify-content: space-between;
        padding: 2px;
        
        a{
            font-size: 1.5rem;
            color: $color-1;
            transition: 0.2s;
            &:hover{
                color: $white;
                transform: scale(1.5);
            }
        }
    }
   
    
}

@media screen and (max-width: 1100px){
  
}

@media screen and (max-width: 830px){
   
}

@media screen and (max-width: 740px){
   
}

@media screen and (max-width: 700px){
  
}

@media screen and (max-width: 540px){
    
}