.portofolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    color: #000;
}

.portofolio__item{
    background: #F4F5FF;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transiton);
}

.portofolio__item:hover{
 border-color: var(--color-primary-variant);
 background: var(--color-card-hover);
}

.portofolio__item-image{
    border-radius:1.5rem ;
    overflow: hidden;
}

.portofolio__item h3{
    margin: 1.2rem 0rem;
}

.portofolio__item-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.portofolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* ========================= MEDIA QUERIES (MEDIUM DEVICES) =============*/

@media screen and (max-width: 1024px)
 {
    .portofolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
  }
  
  /* ========================= MEDIA QUERIES (SMALL DEVICES) =============*/
  
  @media screen and (max-width: 600px)
   {
    .portofolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }


   }